.wizard, .tabcontrol {
    display: block;
    overflow: hidden;
    width: 100%;
}
.wizard a, .tabcontrol a {
    outline: 0 none;
}
.wizard ul, .tabcontrol ul {
    list-style: none outside none !important;
    margin: 0;
    padding: 0;
}
.wizard ul > li, .tabcontrol ul > li {
    display: block;
    padding: 0;
}
.wizard > .steps .current-info, .tabcontrol > .steps .current-info {
    left: -999em;
    position: absolute;
}
.wizard > .content > .title, .tabcontrol > .content > .title {
    left: -999em;
    position: absolute;
}
.wizard > .steps {
    display: block;
    position: relative;
    width: 100%;
}
.wizard.vertical > .steps {
    display: inline;
    float: left;
    width: 30%;
}
.wizard > .steps .number {
    font-size: 1.429em;
}
.wizard > .steps > ul > li {
    
}
.wizard > .steps > ul > li, .wizard > .actions > ul > li {
    float: left;
    width: auto;
}
.wizard.vertical > .steps > ul > li {    
    float: none;
    
}
.wizard > .steps a, .wizard > .steps a:hover, .wizard > .steps a:active {    
    display: block;
    padding: 12px 0px 12px 20px !important;
    text-decoration: none;    
}
.wizard > .steps .disabled a, .wizard > .steps .disabled a:hover, .wizard > .steps .disabled a:active {
    background: none repeat scroll 0 0 #EEEEEE;
    color: #AAAAAA;
    cursor: default;
}
.wizard > .steps .current a, .wizard > .steps .current a:hover, .wizard > .steps .current a:active {
    background: none repeat scroll 0 0 #2184BE;
    color: #FFFFFF;
    cursor: default;
}
.wizard > .steps .done a, .wizard > .steps .done a:hover, .wizard > .steps .done a:active {
    background: none repeat scroll 0 0 #9DC8E2;
    color: #FFFFFF;
}
.wizard > .steps .error a, .wizard > .steps .error a:hover, .wizard > .steps .error a:active {
    background: none repeat scroll 0 0 #FF3111;
    color: #FFFFFF;    
}
.wizard > .content {
    /*background: none repeat scroll 0 0 #EEEEEE;
    border-radius: 5px 5px 5px 5px;*/
    display: block;
    min-height: 34em;
    overflow: visible;
    position: relative;
    width: 100%;
    height: auto;
}
.wizard.vertical > .content {
    display: block;
    float: left;
    /*margin: 0 2.5% 0.5em;*/
    width: 65%;
}
.wizard > .content > .body {
    float: left;
    height: auto;
    /*padding: 2.5%;*/
    position: absolute;
    width: 100%;
}
.wizard > .content > .body ul {
    list-style: disc outside none !important;
}
.wizard > .content > .body ul > li {
    display: list-item;
}
.wizard > .content > .body > iframe {
    border: 0 none;
    height: 100%;
    width: 100%;
}
.wizard > .content > .body input {
    border: 1px solid #CCCCCC;
    display: block;
}
.wizard > .content > .body input[type="checkbox"] {
    display: inline-block;
}
.wizard > .content > .body input.error {
    background: none repeat scroll 0 0 #FBE3E4;
    border: 1px solid #FBC2C4;
    color: #8A1F11;
}
.wizard > .content > .body label {
    display: inline-block;
    margin-bottom: 0.5em;
}
.wizard > .content > .body label.error {
    color: #8A1F11;
    display: inline-block;
    margin-left: 1.5em;
}
.wizard > .actions {
    display: block;
    position: relative;
    text-align: right;
    width: 100% !important;
}
.wizard.vertical > .actions {
    display: inline;
    float: right;
    margin: 0 2.5%;
    width: 95%;
}
.wizard > .actions > ul {
    display: inline-block;
    text-align: right;
}
.wizard > .actions > ul > li {
    margin: 0 0.5em;
}
.wizard.vertical > .actions > ul > li {
    margin: 0 0 0 1em;
}
.wizard > .actions a, .wizard > .actions a:hover, .wizard > .actions a:active {
    background: none repeat scroll 0 0 #2184BE;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    display: block;
    padding: 0.5em 1em !important;
    text-decoration: none;
}
.wizard > .actions .disabled a, .wizard > .actions .disabled a:hover, .wizard > .actions .disabled a:active {
    background: none repeat scroll 0 0 #EEEEEE;
    color: #AAAAAA;
}
.wizard > .loading {
}
.wizard > .loading .spinner {
}
.tabcontrol > .steps {
    display: block;
    position: relative;
    width: 100%;
}
.tabcontrol > .steps > ul {
    margin: 6px 0 0;
    position: relative;
    top: 1px;
    z-index: 1;
}
.tabcontrol > .steps > ul > li {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    float: left;
    margin: 5px 2px 0 0;
    padding: 1px;
}
.tabcontrol > .steps > ul > li:hover {
    background: none repeat scroll 0 0 #EDECEC;
    border: 1px solid #BBBBBB;
    padding: 0;
}
.tabcontrol > .steps > ul > li.current {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: #BBBBBB #BBBBBB -moz-use-text-color;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 1px 0;
    margin-top: 0;
    padding: 0 0 1px;
}
.tabcontrol > .steps > ul > li > a {
    border: 0 none;
    color: #5F5F5F;
    display: inline-block;
    margin: 0;
    padding: 10px 30px;
    text-decoration: none;
}
.tabcontrol > .steps > ul > li > a:hover {
    text-decoration: none;
}
.tabcontrol > .steps > ul > li.current > a {
    padding: 15px 30px 10px;
}
.tabcontrol > .content {
    border-top: 1px solid #BBBBBB;
    display: inline-block;
    height: 35em;
    overflow: hidden;
    padding-top: 20px;
    position: relative;
    width: 100%;
}
.tabcontrol > .content > .body {
    float: left;
    height: 95%;
    padding: 2.5%;
    position: absolute;
    width: 95%;
}
.tabcontrol > .content > .body ul {
    list-style: disc outside none !important;
}
.tabcontrol > .content > .body ul > li {
    display: list-item;
}
@media (max-width: 600px) {
.wizard > .steps > ul > li {
    width: 50%;
}
.wizard > .steps a, .wizard > .steps a:hover, .wizard > .steps a:active {
    margin-top: 0.5em;
}
.wizard.vertical > .steps, .wizard.vertical > .actions {
    display: block;
    float: none;
    width: 100%;
}
.wizard.vertical > .content {
    display: block;
    float: none;
    margin: 0 0.5em 0.5em;
    width: auto;
}
}
@media (max-width: 480px) {
.wizard > .steps > ul > li {
    width: 100%;
}
}


.wizard a, .tabcontrol a{margin-left: 0px; }

.wizard > .steps .last .current a:before{
    -moz-box-sizing:inherit !important;
}



.wizard > .steps a:before{
   
  z-index: 1;
  display: block;
  content: "";
  border: 20px solid transparent;
  border-right: 0;
  border-left: 20px solid #EDEDED;
  position: relative;
  top:-11px;
  float: right;
  border-width: 20px 20px 20px 10px;
  margin-right: -10px;
}

.wizard > .steps .done a:before{
    border-color : transparent transparent transparent #9DC8E2;    
}

.wizard > .steps .first .current a:before{
    border-color : transparent transparent transparent #9DC8E2;    
}

.wizard > .steps .current a:before{
    border-color : transparent transparent transparent #2184BE;
}

#meetingTopics_ajax{width: 98% !important; margin-left: 16px}